# Deployment
HARDHAT_NETWORK=... # baseSepolia
SKIP_AUTO_HANDLER_REDEPLOYMENT=... # boolean


# Wallets
BASE_SEPOLIA_DEPLOYER_ADDRESS=... # deployer address
BASE_SEPOLIA_DEPLOYER_PRIVATE_KEY=... # deployer private key
NIVO_KEEPER_ADDRESS=... # nivo keeper address
NIVO_KEEPER_PRIVATE_KEY=... # nivo keeper private key
WALLET_TESTER_ADDRESS=... # wallet tester address
WALLET_TESTER_PRIVATE_KEY=... # wallet tester private key (LP or User)

# API Keys
BASESCAN_API_KEY=... # explorer key
CHAINLINK_CLIENT_ID=... # Chainlink Data Streams client ID
CHAINLINK_CLIENT_SECRET=... # Chainlink Data Streams client secret