HARDHAT_NETWORK=... # baseSepolia
BASESCAN_API_KEY=... # explorer key
BASE_SEPOLIA_ACCOUNT_KEY=... # deployer private key
SKIP_AUTO_HANDLER_REDEPLOYMENT=... # boolean
NIVO_KEEPER_ADDRESS=... # nivo keeper address